body,input{font-size: 14pt}
input, label{vertical-align: middle}
.qrcode-txt{
  padding-right: 1.7em;
  margin-right: 0;
  vertical-align: middle;
}
.qrcode-btn{
  display: inline-block;
  background: url(QR.svg) 50% 50% no-repeat;
  height: 1em;
  width: 1.7em;
  margin-left: -1.7em;
  cursor: pointer;
}
.qrcode-btn > input[type=file]{
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}
